@media (max-width: 768px) {
/*global resets*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: sans-serif;
    background-color: #edeeed;
}

a {
    color: cyan;
    text-decoration: none;
}

/*global classes*/

.header h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-top: 7vh;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 3vh;
}

.navbar a {
    margin: 0 15px;
    font-size: 1.2rem;
    color: #333;
}

.navbar a:hover {
    font-weight: bold;
    text-decoration: solid underline 3px;
}

.content {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

footer {
    text-align: center;
    padding: 40px 0;
    bottom: 0;
    width: 100%;
}

.card-link {
    display: block;
    text-decoration: none;
    width: 100%;
}

.card-link:hover div {
    background-color: #f0f0f0;
}


/*home page*/

.card {
    background-color: #fffdfc;
    border-radius: 30px;
    border: 3px solid #dfe3e8;
    width: 100%;
    margin-top: 5%;
}

.card_title h2 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 1vh;
    margin-left: 2vw;
}

.card_content {
	display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.card_content p {
    font-size: 1.2rem;
    color: #333;
    margin-left: 2vw;
}

.card_content img {
    width: 10%;
    height: auto;
    image-rendering: pixelated;
    margin-left: 2vw;
}

}

@media (min-width: 769px) {
}