<!DOCTYPE html>

<html>
    {{template "header"}}
    <body>
        {{template "navbar"}}
        <div class="content">
            <h1>aa-defence Deployed</h1>
            <hr>
            <h2>made a simple minigame.</h2>
            <strong>posted on 3/11/2025</strong>
            <hr class="invisible">
            <h3>description</h3>
            <p>aa defence is a simple 2d survival game, where you have to survive ever increasing hordes of enemy planes by shooting them down. the game is very simple by design amd a single run will not last more then 2 minutes</p>
            <h3>pictures</h3>
            <img src="/static/images/aa-defence1.png" width="640px" height="360px">
            <img src="/static/images/aa-defence2.png" width="640px" height="360px">
            <h3>technologies used</h3>
            <p>i used godot to make my game, this is mostly because of its built in physics which i didnt want to make from scratch and also its really useful particle system. i used aseprite to draw all the sprites and i used lmms in combination with chord player to make audio</p>
            <h3>future plans</h3>
            <p>the game is unfinished, i came to this realization after i exported it. at some point i will update the game so you can actually restart the game after one run.</p>
            <h3>resources</h3>
            <p>executable availabe on itch.io <a href="https://knyaz26.itch.io/aa-defence">here</a></p>
            <p>source code availabe on my github <a href="https://github.com/knyaz26/AA-Defence">here</a></p>
            <h3>logs</h3>
            <p>no logs available</p>
            <hr class="invisible">
        </div>
        {{template "footer"}}
    </body>
</html>
