{% extends "base.html" %}

{% block content %}
<div class="text_block">
    <h2>About Me</h2>
    <p class="about_text">I'm Saba, a computer engineering student in Tbilisi, Georgia. Outside university, I focus on game development and personal projects. I work mostly with Godot, Raylib, and Roblox Studio, using Python and C# for scripting.</p>
    <p class="about_text">I enjoy building simple 2D games, creating my own pixel art and UI, and recently started learning Blender to expand into 3D. My goal is to handle most parts of development myself—from code to visuals to audio. I'm currently exploring LMMS to get started with music production.</p>
    <p class="about_text">Most of my learning has been self-directed. University introduced me to the basics, but my main progress comes from curiosity and hands-on projects.</p>  
</div>
{% endblock %}