{% extends "base.html" %}

{% block content %}
<div class="text_block">
    <h2>About Me</h2>
    <p class="about_text">I'm Saba, a computer engineering student based in Tbilisi, Georgia. I mainly work on personal projects in game development.</p>
    <p class="about_text">Some tools I use include Git, Bash, and Vim. In gamedev, I like to use the Godot and Roblox game engines, or the Raylib library. I mostly enjoy using Python and C#. I use these tools for weekend projects or game jams.</p>
    <p class="about_text">My creative side shows in my pixel art and game design. I still can't do much yet, and I'm sometimes forced to work in teams, but I try to draw my own sprites and UI art. I’ve recently started learning Blender for 3D modeling. In the future, I’d like to learn LMMS to start making my own tracks.</p>
    <p class="about_text">I’m currently studying computer engineering at Caucasus University, second year. That’s where I’ve learned about hardware, and the basics of programming and web, although most of what I know comes from self-driven interests.</p>
    <p class="about_text">My GitHub: <a href="https://www.github.com/knyaz26">here</a></p>    
</div>
{% endblock %}