{% extends "base.html" %}

{% block content %}
<div class="text_block">
    <h2>About Me</h2>
    <p class="about_text">I’m Saba Diasamidze, a third-year Electronics and Computer Engineering student at Caucasus University, based in Tbilisi, Georgia. I’m skilled in Python, C#, and Gp. My academic focus includes electronics, programming, and systems engineering. I don’t have formal work experience yet, but I learn independently through personal projects and online resources to gain more experience or as a hobby.</p>
</div>
{% endblock %}
