<!DOCTYPE html>

<html>
    {{template "header"}}
    <body>
        {{template "navbar"}}
       <div class="content">
           <h1>Blog Page</h1>
           <hr>
           <h2>Welcome to my blog</h2>
           <p>This is where I write down, share, and log things I learn or enjoy about programming, engineering, Linux, and everything tech-related. You'll find a mix of programming experiments, game dev ideas, and technical insights.</p>
           <hr>
           <h3>3/4/2025</h3>
           <a href="/blog/website-deployed"><h2>website deployed</h2></a>
           <strong>creation and deployment of my first website.</strong>
           <hr class="invisible">
       </div>
       {{template "footer"}}
    </body>
</html>

