<!DOCTYPE html>

<html>
    {{template "header"}}
    <body>
        {{template "navbar"}}
       <div class="content">
           <h1>Blog Page</h1>
           <hr>
           <h2>Welcome to my blog</h2>
           <p>This is where I write down, share, and log things I learn or enjoy about programming, engineering, Linux, and everything tech-related. You'll find a mix of programming experiments, game dev ideas, and technical insights.</p>
           <hr>
           <h3>3/25/2025</h3>
           <a href="/blog/my-website-02"><h2>My Website 02</h2></a>
           <strong>refactoring</strong>
           <br>
           <h3>3/25/2025</h3>
           <a href="/blog/hangman-01"><h2>hangman 01</h2></a>
           <strong>a university project</strong>
           <br>
           <h3>3/25/2025</h3>
           <a href="/blog/roblox-minesweeper-01"><h2>roblox minesweeper 01</h2></a>
           <strong>added game logic</strong>
           <br>
           <h3>3/11/2025</h3>
           <a href="/blog/aa-defence-01"><h2>aa-defence 01</h2></a>
           <strong>made a simple minigame.</strong>
           <br>
           <h3>3/4/2025</h3>
           <a href="/blog/my-website-02"><h2>My Website 01</h2></a>
           <strong>first deployment</strong>
           <hr class="invisible">
       </div>
       {{template "footer"}}
    </body>
</html>

