{% extends "base.html" %}

{% block content %}
<div class="contact_block">
  <div class="contact_image">
    <img src="{{ url_for('static', filename='saba.png') }}" alt="Saba's Image">
  </div>
  <div class="contact_text">
    <h2>Contact Me</h2>
    <p>You can find me on:</p>
    <ul class="contact_list">
      <li><span>Mail: <a href="mailto:saba@knyaz.dev">saba@knyaz.dev</a></span></li>
      <li><span>Discord: <a href="https://discord.com/users/679739548070182978">knyaz_26</a></span></li>
      <li><span>Github: <a href="https://www.github.com/knyaz26">knyaz26</a></span></li>
    </ul>
  </div>
  
</div>
{% endblock %}
