<!DOCTYPE html>

<html>
    {{template "header"}}
    <body>
        {{template "navbar"}}
        <div class="content">
            <h1>Contact</h1>
            <hr>
            <div class="frame_light" id="frame_contact">
                <img src="static/images/placeholder.jpg" alt="saba's photo">
                <hr class="invisible">
                <h1>Saba Diasamidze</h1>
                <a href="mailto:saba2006.diasamidze@gmail.com" target="_blank"><strong>saba2006.diasamidze@gmail.com</strong></a>
                <a href="http://www.github.com/knyaz26" target="_blank"><strong>Github</strong></a>
                <hr class="invisible">
            </div>
            <hr class="invisible">
        </div>
        {{template "footer"}}
    </body>
</html>
