{% extends "base.html" %}

{% block content %}
<div class="contact_block">
  <div class="contact_image">
    <img src="{{ url_for('static', filename='saba.png') }}" alt="Saba's Image">
  </div>
  <div class="contact_text">
    <h2>Contact Me</h2>
    <p>You can find me on:</p>
    <ul class="contact_list">
      <li><a href="mailto:saba2006.diasamidze@gmail.com">Email</a></li>
      <li><a href="https://discord.gg/zPqgCbKY">Discord</a></li>
      <li><a href="https://www.github.com/knyaz26">GitHub</a></li>
    </ul>
  </div>
</div>
{% endblock %}
