<!DOCTYPE html>

<html>
    {{template "header"}}
    <body>
        {{template "navbar"}}
        <div class="content">
            <h1>hangman game</h1>
            <hr>
            <h2>A graphical adaptation on the classic Hangman game.</h2>
            <strong>posted on 3/25/2025</strong>
            <hr class="invisible">
            <div class="iframe_container">
                <iframe src="/static/games/hangman/index.html" width="640" height="360" allowfullscreen></iframe>
            </div>
            <hr class="invisible">
        <div class="content">
    </body>
    {{template "footer"}}
</html>
