<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles.css">
        <title>Knyaz's Website</title>
    </head>
    <body>
        <header>
            <nav>
                <a class="page_secondary" href= "/Projects">Projects</a>
                <a class="page_secondary" href="/Blog">Blog</a>
                <a class="page_primary" href="/KNYAZ">Knyaz</a>
                <a class="page_secondary" href="/Resources">Resources</a>
                <a class="page_secondary" href="/Contact">Contact</a>
            </nav>
        </header>
        <div class="content">
            <h2>Welcome To Knyaz.dev</h1>
            <p>Learning is about progress, not perfection. I take things one step at a time, especially when it comes to tech. I’m always exploring new areas, whether it’s a coding language or a project. I don’t have it all figured out yet, and that’s fine. This site will serve as a place to document what interests me, share my experiences, and hopefully learn along the way.</p>
            <hr>
            <h2>Background On Me:</h2>
            <ul>
                <li><p>My name is Saba.</p></li>
                <li><p>I'm from georgia.</p></li>
                <li><p>I'm 19 years old.</p></li>
                <li><p>Currently studying electrical engineering.</p></li>
                <li><p>I have no idea how web works.</p></li>
                <li><p>I hate javascript at a principal level.</p></li>
            </ul>
            <hr>
            <h2>What I Work With</h2>
            <div class="frame_dark">
                <--! add images here -->
            </div>
            <hr>
            <h2>About Knyaz.dev</h2>
            <p>This website is built with HTML and CSS, using Go for routing. It's design was heavily influenced by <a href="https://jzitnik.dev/">Jakub</a>, <a href="https://dimden.dev/">Dimden</a> and <a href="https://lospec.com/">Lospec</a>.</p>
        </div>
    </body>
</html>
