<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles.css">
        <title>Knyaz's Website</title>
    </head>
    <body>
        <h1>Welcome To Knyaz.dev</h1>
        <p>this is my little website and blog to showcase my interests.</p>
        
        <h2>Things I Like</h2>
        <ul>
            <li>I'm from georgia.</li>
            <li>I'm 19 years old.</li>
            <li>Currently studying electronic engineering</li>
            <li>My name is Saba</li>
            <li>I hate javascript at a principal level</li>
        </ul>
        <h2>What I Work With</h2>
        <div class="frame_dark">
            <--! add images here -->
        </div>
        <h2>Experience</h2>
        <p>error 404 page not found</p>
    </body>
</html>
