<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles.css">
        <title>Knyaz's Website</title>
    </head>
    <body>
        {{template "navbar"}}
       <div class="content">
            <h2>Welcome To Knyaz.dev</h1>
            <p>Learning is about progress, not perfection. I take things one step at a time, especially when it comes to tech. I’m always exploring new areas, whether it’s a coding language or a project. I don’t have it all figured out yet, and that’s fine. This site will serve as a place to document what interests me, share my experiences, and hopefully learn along the way.</p>
            <hr>
            <h2>Background On Me:</h2>
            <ul>
                <li><p>My name is Saba.</p></li>
                <li><p>I'm from georgia.</p></li>
                <li><p>I'm 19 years old.</p></li>
                <li><p>I use Arch btw, neovim too btw</p></li>
                <li><p>Currently studying electrical engineering.</p></li>
                <li><p>I have no idea how web works.</p></li>
                <li><p>I hate javascript at a principal level.</p></li>
            </ul>
            <hr>
            <h2>What I Work With</h2>
            <div class="frame_dark">
                <div class="tech_node">
                    <img src="/static/images/c++.svg"><strong>cpp</strong>
                </div>
                 <div class="tech_node">
                    <img src="/static/images/bash.svg"><strong>bash</strong>
                </div>
                 <div class="tech_node">
                    <img src="/static/images/vim.svg"><strong>vim</strong>
                </div>
                 <div class="tech_node">
                    <img src="/static/images/python.svg"><strong>python</strong>
                </div>
                 <div class="tech_node">
                    <img src="/static/images/golang.svg"><strong>golang</strong>
                </div>
                 <div class="tech_node">
                    <img src="/static/images/html.svg"><strong>html</strong>
                </div>
                 <div class="tech_node">
                    <img src="/static/images/css.svg"><strong>css</strong>
                </div>
                 <div class="tech_node">
                    <img src="/static/images/cs.svg"><strong>c#</strong>
                </div>
            </div>
       </div>
            <footer>
                <div class="footer">
                    <p>© 2025 Saba Diasamidze | Created in Georgia</p> 
                    <p>This website was built using Golang. It's design was heavily influenced by <a href="https://jzitnik.dev/">Jakub</a>, <a href="https://dimden.dev/">Dimden</a> and <a href="https://lospec.com/">Lospec</a>.</p>
                </div>
            </footer>
    </body>
</html>
