<!DOCTYPE html>

<html>
    {{template "header"}}
    <body>
        {{template "navbar"}}
        <div class="content">
            <h1>jetpacker deployed</h1>
            <hr>
            <h2>made a simple minigame</h2>
            <strong>posted on 3/20/2025</strong>
            <hr class="invisible">
            <h3>description</h3>
            <p>jetpacker is a simple 2d survival game, where you have to survive endless waves of enemies. once you die the game resets.</p>
            <h3>pictures</h3>
            <img src="/static/images/jetpacker1.png" width="320px" height="180px">
            <img src="/static/images/jetpacker2.png" width="320px" height="180px">
            <h3>technologies used</h3>
            <p>the game was built in godot engine in compatibility mode to enable web deployment, to create sprites i used aseprite, and audio was made in lmms by a friend.</p>
            <h3>future plans</h3>
            <p>the game is laggy and spawn mechanics need a complete rework. i will come back at some point maybe</p>
            <h3>resources</h3>
            <p>executable available on itch.io <a href="https://knyaz26.itch.io/jetpacker ">here</a></p>
            <p>source code available on my github <a href="https://github.com/knyaz26/jetpacker ">here</a></p>
            <h3>logs</h3>
            <p>no logs available</p>
            <hr class="invisible">
        </div>
    </body>
    {{template "footer"}}
</html>
