<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles.css">
        <title>Knyaz's Website</title>
    </head>
    <body>
        {{template "navbar"}}
       <div class="content">
           <h2>Projects</h2>
           <hr class="invisible">
           <div class="frame_dark">
           </div>
       </div>
       {{template "footer"}}
    </body>
</html>

