<!DOCTYPE html>

<html>
    {{template "header"}}
    <body>
        {{template "navbar"}}
       <div class="content">
           <h1>Projects</h1>
           <hr>
           <h2>Welcome to my projects page</h2>
           <p>Here you will find a collection of my projects. You’ll find work related to programming, game development, and tech experiments I’ve been working on.</p>
           <hr class="invisible">
           <div class="frame_light">
               <a href="blog/jetpacker" class="linked_div">
                   <div class="frame_dark project_div">
                       <img src="static/images/jetpacker2.png" class="cropped_img">
                       <strong>jetpacker</strong>
                       <p>3/20/2025</p>
                   </div>
               </a>
               <a href="blog/aa-defence" class="link_div">
                   <div class="frame_dark project_div">
                       <img src="static/images/aa-defence1.png" class="cropped_img">
                       <strong>aa-defence</strong>
                       <p>3/11/2025</p>
                   </div>
               </a>
               <a href="blog/website-deployed" class="link_div">
                   <div class="frame_dark project_div">
                       <img src="static/images/website-deployed.png" class="cropped_img">
                       <strong>My Website</strong>
                       <p>3/4/2025</p>
                   </div>
              </a>
           </div>
           <hr class="invisible">
       </div>
       {{template "footer"}}
    </body>
</html>

